.filterContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
  }
  

  
  .selectDropdown {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  