
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #083c11;
  /*box-shadow: 0px 4px 6px rgba(35, 33, 33, 0);*/
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.brandName {
  font-size: 22px;
  font-weight: bold;
  color:  #ff6600  ;
/*  color: #783702;*/
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li a {
  text-decoration: none;
  color: #ff6600 ;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.navLinks li a:hover {
  color: #fff200;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchBar {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.loginButton {
  background-color:  #ff6600 ;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.loginButton:hover {
  background-color:  #fff200;
}

/*search*/
.searchBar {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 180px;
  position: relative;
  z-index: 2;
}

.searchResults {
  position: absolute;
  top: 100%; /* input'un hemen altı */
  left: 0;
  width: 180px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  max-height: 200px;
  overflow-y: auto;
}

.resultItem {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultItem:hover {
  background-color: #f2f2f2;
}

.rightMenu {
  position: relative; /* Referans noktası için */
}
