.footer {
  background-color: #010f2c;
  color: #d4b728;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  
  border-top: 1px solid #ccc;
}

.footer p {
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 13px;
    padding: 15px 5px;
  }
}
